body{
    font-family: 'Roboto Slab', serif;}
    .header{
        background-image: url(images/donation5.jpg);
        background-repeat: no-repeat;
        line-height: 48px;
        text-align: center;
        font-size:30px;
        padding-bottom: 20px;
        width: 100%;
    }
    .header a{
        font-size: 20px;
        margin: 0 auto;
        
    }
    .headline1{
        color: white;
        font-weight: 800;
    }
    .headline2{
        color:white;
        font-weight: 800;
    }
    .header p{
        color: rgb(186, 240, 142);
    }
    .pran{
        color: rgb(220, 242, 22);
    }
    .donate-now{
        color: rgb(150, 226, 28);
        border-radius: 10px;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: 700;
        background-image: linear-gradient(red, rgb(205, 79, 216));
    }
    .second-section{
        text-align: center;
    }
    .second-section h2{
        color: rgb(14, 166, 236);
        font-weight: 800;
    }
    .second-section p{
        color: rgba(159, 164, 124, 0.87);
    }
    .third-section{
        display:flex;
        text-align: center;
        margin-left: 30%;}
    .one-h{
        background-color: aliceblue;
    }
    .one-h{
        background-color: aliceblue;
        padding: 20px;
        margin: 2px
    }
    .two-h{
        background-color: aliceblue;
        padding: 20px;
        margin: 2px;
        border: 1px solid red;
        color: rgba(255, 0, 0, 0.81);
        font-weight: 900;
    }
    .five-h{
        background-color: aliceblue;
        padding: 20px;
        margin: 2px;

    }
    .one-th{
        background-color: aliceblue;
        padding: 20px;
        margin: 2px;

    }
    .five-th-h{
        background-color: aliceblue;
        padding: 20px;    
        margin: 2px;

    }
    section form input{
        margin-left: 45%;
    }
    section a{
        padding: 10px 20px;
        background-image: linear-gradient(orange, red);
        border-radius: 10px;
        margin-left: 48%;
        text-decoration: none;
    }
    .sectionthree{
        text-align: center;
        
    }
    .sectionthree p{
        color: rgb(167, 124, 124);
    }
    .sectionfour{
        display: flex;
        margin-left: 30px;
    }
    .sectionfour img{
        width:100px;
        height: 100px;
    }
    .div1{
        background-color: rgba(250, 235, 215, 0.527);
        margin: 10px;
        
    }
    .div2{
        background-color: rgba(56, 65, 60, 0.205);
        margin: 10px;
    }
    .div3{
        background-color: rgba(111, 129, 156, 0.342);
        margin: 10px;
    }
    .section-five{
        display: flex;
        margin-left: 20%;
       
    }
    .section-five div-four{
        width: 30%;
        

    }
    .section-five div-five{
        width: 60%;
    }
    .section-five img{
        width: 400px;
    }
    .section-six{
        text-align: center;
    }
    .section-seven{
        
        margin-left: 40%;
        background-color: rgba(198, 161, 161, 0.764);
    }
    button{
       background-color: rgb(169, 100, 100);
    }
.section-seven{
    background-color: rgba(223, 216, 174, 0.632);
    width: 70%;
 
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;

}
.section-seven div{
    padding: 15px 20px;
}
.section8{
    background-color:black ;
    text-align: center;
    padding: 10px 20px;

}
.section8 h1{
    color: coral;
    
    
}
.section8 p{
    color: aliceblue;
}