body{
    font-family: 'Roboto Slab', serif;}
    .header{
        background-image: url(images/donation5.jpg);
        line-height: 52px;
        text-align: center;font-size:30px;
        padding-bottom: 20px;
    }
    .headline1{
        color: rgb(57, 194, 123);
        font-weight: 800;
    }
    .headline2{
        color: #e835f8b4;
        font-weight: 800;
    }
    .firstp{
        color: rgb(29, 241, 245);
    }
    .pran{
        color: rgb(220, 242, 22);
    }
    .donate-now{
        border-radius: 10px;
        padding: 10px 30px;
        text-decoration: none;
        background-image: linear-gradient(red, rgb(212, 245, 112));
    }
    